Options -MultiViews
RewriteEngine On

RewriteBase /maincode/step-php/build-app-php/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#RewriteRule ^(.+)$ index.php?url=$1 [L,R=301,NC] #oke for ubuntu